{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class='container'>
        <h1>Olá, {% if name %}{{ name }} {{sobrenome}}{% else %}Estranho{% endif %}!</h1>
        <h2>Sua instituicao de ensino é {{instituicao}}</h2>
        <h2>Está cursando a disciplina de {{disciplina}}</h2>
        <p>O IP do computador remoto é: {% if ip_computador %}{{ip_computador}} {% else %} None {% endif %}</p>
        <p>O host da aplicação é: {{host_atual}}</p>
    </div>

    {{ wtf.quick_form(form) }}
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}