{% extends 'base.html' %}


{% block content %}
    <div class='countainer'>
        <h1>Dados da última atualização:</h1>

        <p>The local date and time is {{ ultima_atualizacao }}.</p>

        <p id="contador-tempo">That was in a few seconds.</p>
    </div>

    <script>
        function iniciarContador(isoDate) {
            const tempoCarregamento = new Date(isoDate).getTime();

            function atualizarContador() {
                const agora = new Date().getTime();
                const diffEmSegundos = Math.floor((agora - tempoCarregamento) / 1000);
                const minPassados = Math.floor(diffEmSegundos / 60);

                let texto = "";

                if (minPassados < 1) {
                    texto = "That was a few seconds ago.";
                } else if (minPassados === 1) {
                    texto = "That was 1 minute ago.";
                } else {
                    texto = `That was ${minPassados} minutes ago.`;
                }
                const elemento = document.getElementById("contador-tempo");
                if (elemento) {
                    elemento.innerText = texto;
                }
            }
            atualizarContador();
            setInterval(atualizarContador, 3000);
        }
        iniciarContador("{{ iso_date }}");
    </script>
{% endblock %}
